{{- range $profile, $values := .Values.kcm.kof.mcs }}
  {{- if $values.create_secrets }}
    {{- $usernames := dict }}
    {{- $passwords := dict }}
    {{- range $values.secrets }}
      {{- $htpasswdFrom := $values | dig "htpasswdFrom" . "" }}
      {{- if not $htpasswdFrom }}
        {{- $secret := lookup "v1" "Secret" $.Release.Namespace . }}
        {{- if $secret }}
          {{- $_ := set $usernames . (index $secret.data "username" | b64dec) }}
          {{- $_ := set $passwords . (index $secret.data "password" | b64dec) }}
        {{- else }}
          {{- $_ := set $usernames . ($.Values.global.random_username_length | int | randAlpha) }}
          {{- $_ := set $passwords . ($.Values.global.random_password_length | int | randAlpha) }}
        {{- end }}
      {{- end }}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ . }}
  namespace: {{ $.Release.Namespace }}
stringData:
{{- if $htpasswdFrom }}
  auth: {{ htpasswd (index $usernames $htpasswdFrom) (index $passwords $htpasswdFrom) }}
{{- else }}
  username: {{ index $usernames . | quote }}
  password: {{ index $passwords . | quote }}
{{- end }}
type: Opaque
    {{- end }}
  {{- end }}
{{- end }}
