{{- if .Values.kcm.installTemplates }}
  {{- range $shortName := list "operators" "collectors" "storage" }}
    {{- $prefix := printf "kof-%s-" $shortName }}
    {{- $newName := printf "%s%s" $prefix ($.Chart.Version | replace "." "-") }}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: {{ $newName }}
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  helm:
    chartSpec:
      chart: kof-{{ $shortName }}
      version: {{ $.Chart.Version | quote }}
      interval: 10m0s
      sourceRef:
        kind: HelmRepository
        name: {{ $.Values.kcm.kof.repo.name }}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplateChain
metadata:
  name: {{ $newName }}
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  supportedTemplates:
    - name: {{ $newName }}
    {{- range $template := (lookup
      "k0rdent.mirantis.com/v1beta1" "ServiceTemplate"
      $.Values.kcm.namespace ""
    ).items }}
      {{- $oldName := $template.metadata.name }}
      {{- if and ($oldName | hasPrefix $prefix) (ne $oldName $newName) $template.spec.helm }}
    - name: {{ $oldName }}
      availableUpgrades:
        - name: {{ $newName }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplateChain
metadata:
  name: cert-manager-v1-16-4-from-1-16-4
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  supportedTemplates:
    - name: cert-manager-v1-16-4
    - name: cert-manager-1-16-4
      availableUpgrades:
        - name: cert-manager-v1-16-4
