{{- $global := .Values.global | default dict }}
{{- if .Values.victoriametrics.enabled }}
{{- if .Values.victoriametrics.vmauth.enabled }}
{{- if (index .Values "victoriametrics" "vmauth" | default dict).enabled | default false }}
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAuth
metadata:
  name: cluster
  namespace: {{ .Release.Namespace }}
spec:
  {{- $spec := deepCopy .Values.victoriametrics.vmauth.spec }}
  {{- if $global.registry }}
  {{- $_ := set $spec.image "repository" ( printf "%s/victoriametrics/vmauth" $global.registry) }}
  {{- end }}
  {{- if $spec.ingress.enabled }}
    {{- if not (get $spec.ingress.annotations "cert-manager.io/cluster-issuer") }}
    {{- $_ := set $spec.ingress.annotations "cert-manager.io/cluster-issuer" (include "cert-manager.cluster-issuer.name" $ )}}
    {{- $_ := mergeOverwrite $spec.ingress.annotations (include "cert-manager.acme-annotation" $ | fromYaml )}}
    {{- end }}
  {{- else }}
    {{- $_ := unset $spec "ingress" }}
  {{- end }}
  {{- toYaml $spec | nindent 2 }}
{{- end }}
{{- end }}
{{- end }}
