---
{{- if .Values.global.helmRepo.kofManaged.enabled }}
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: {{ .Values.global.helmRepo.name }}
  namespace: {{ include "kof.namespace" . }}
  labels:
    {{- include "kof.labels" . | nindent 4 }}
spec:
  insecure: {{ .Values.global.helmRepo.kofManaged.insecure }}
  interval: {{ .Values.global.helmRepo.interval }}
  type: {{ .Values.global.helmRepo.kofManaged.type }}
  url: {{ .Values.global.helmRepo.kofManaged.url }}
{{- end }}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: victoria-metrics
  namespace: {{ include "kof.namespace" . }}
  labels:
    {{- include "kof.labels" . | nindent 4 }}
spec:
  interval: {{ .Values.global.helmRepo.interval }}
  type: "default"
  url: {{ index .Values "victoria-metrics-operator" "repo" "url" }}
