{{- range $component := .Values.global.components }}
{{- if index $.Values $component "enabled" }}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmChart
metadata:
  name: {{ $component }}
  namespace: {{ include "helmchart.namespace" $ }}
  annotations:
    reconcile.fluxcd.io/requestedAt: "{{ now | unixEpoch }}"
    reconcile.fluxcd.io/forceAt: "{{ now | unixEpoch }}"
  labels:
    {{- include "kof.labels" $ | nindent 4 }}
    k0rdent.mirantis.com/component: {{ $component }}
spec:
  chart: {{ $component }}
  version: {{ $.Chart.Version }}
  interval: {{ $.Values.global.helmRepo.interval }}
  sourceRef:
    kind: HelmRepository
    name: {{ $.Values.global.helmRepo.name }}
{{- end }}
{{- end }}
{{- if index .Values "victoria-metrics-operator" "enabled" }}
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmChart
metadata:
  name: victoria-metrics-operator
  namespace: {{ include "kof.namespace" $ }}
  labels:
    {{- include "kof.labels" $ | nindent 4 }}
spec:
  chart: victoria-metrics-operator
  version: {{ index $.Values "victoria-metrics-operator" "version" }}
  interval: {{ $.Values.global.helmRepo.interval }}
  sourceRef:
    kind: HelmRepository
    name: victoria-metrics
{{- end }}
