{{- if .Values.istio.enabled }}
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: kof-namespace
  namespace: {{ .Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  resources:
    localSourceRef:
      kind: ConfigMap
      name: kof-namespace-template
      namespace: {{ .Values.kcm.namespace }}
    deploymentType: Remote
    path: ""
{{- end }}