server_groups:
{{- range .ServerGroups }}
- targets:
    {{- range .Targets }}
    - "{{ . }}"
    {{- end }}
  path_prefix: "{{ .PathPrefix }}"
  scheme: "{{ .Scheme }}"
  http_client:
    timeout: {{ .DialTimeout }}
    tls_config:
      insecure_skip_verify: {{ .TlsInsecureSkipVerify }}
    {{- if .BasicAuthEnabled }}
    basic_auth:
      username: "{{ .Username }}"
      password: "{{ .Password }}"
    {{- end }}
  labels:
    promxyCluster: "{{ .ClusterName }}"
    promxyClusterNamespace: "{{ .ClusterNamespace }}"
{{- end }}