prometheus-operator-crds:
  enabled: true
opentelemetry-operator:
  enabled: true
  manager:
    image:
      repository: ghcr.io/open-telemetry/opentelemetry-operator/opentelemetry-operator
    collectorImage:
      repository: "otel/opentelemetry-collector-contrib"
      tag: "0.123.0"
    createRbacPermissions: false
    extraArgs:
      - "--enable-go-instrumentation=true"
    featureGatesMap:
      operator.targetallocator.mtls: true
      operator.targetallocator.fallbackstrategy: true
  clusterRole:
    create: true
  admissionWebhooks:
    certManager:
      enabled: true
  kubeRBACProxy:
    image:
      repository: quay.io/brancz/kube-rbac-proxy
grafana-operator:
  enabled: true
  crds:
    immutable: false
  image:
    # -- Custom `grafana-operator` image repository.
    repository: ghcr.io/grafana/grafana-operator
hello: world