cert-manager:
  enabled: true
  template: cert-manager-v1-16-4

collectors: {}
operators:
  grafana-operator:
    enabled: false

istio:
  # -- Installs resources required for the KOF to work properly with the main Istio chart.
  enabled: true

  dependsOn:
    - k0rdent-istio-network