cert-manager:
  enabled: true
  template: cert-manager-v1-16-4

# --set-file globalValues=global-values.yaml
globalValues: "{}"

collectors:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  opentelemetry-kube-stack:
    defaultCRConfig:
      env:
      - name: PKI_PATH
        value: var/lib/k0s
operators:
  grafana-operator:
    enabled: false

istio:
  # -- Installs resources required for the KOF to work properly with the main Istio chart.
  enabled: true

  dependsOn:
    - k0rdent-istio-network
