apiVersion: v2
name: kof-storage
description: KOF Helm chart with Jaeger and VictoriaMetrics storage
version: "1.8.0-rc0"
appVersion: "1.8.0-rc0"
dependencies:
  - name: victoria-metrics-operator
    version: "0.58.1"
    repository: "https://victoriametrics.github.io/helm-charts/"
    condition: victoria-metrics-operator.enabled
  - name: victoria-logs-cluster
    version: "0.0.11"
    repository: https://victoriametrics.github.io/helm-charts/
    condition: victoria-logs-cluster.enabled
  - name: victoria-traces-cluster
    version: "0.0.3"
    repository: https://victoriametrics.github.io/helm-charts/
    condition: victoria-traces-cluster.enabled
  - name: external-dns
    version: "1.15.2"
    repository: "https://kubernetes-sigs.github.io/external-dns/"
    condition: external-dns.enabled
  - name: dex
    version: "0.23.0"
    repository: https://charts.dexidp.io
    condition: dex.enabled
  - name: kof-dashboards
    condition: kof-dashboards.enabled
    version: "1.8.0-rc0"
    repository: file://../kof-dashboards/
