global:
  clusterLabel: cluster
  clusterName: storage
  random_username_length: 8
  random_password_length: 12
  image:
    # custom image registry for victoriametrics charts
    registry: ""

  # https://kubernetes.io/docs/concepts/storage/storage-classes/#default-storageclass
  # storageClass: ebs-csi-default-sc

cert-manager:
  enabled: true
  cluster-issuer:
    create: true
    provider: letsencrypt
  email: mail@example.net
external-dns:
  enabled: false
  provider:
    name: aws
  env:
    - name: AWS_SHARED_CREDENTIALS_FILE
      value: /etc/aws/credentials/external-dns-aws-credentials
    - name: AWS_DEFAULT_REGION
      value: us-east-2
  extraVolumeMounts:
    - name: aws-credentials
      mountPath: /etc/aws/credentials
      readOnly: true
  extraVolumes:
    - name: aws-credentials
      secret:
        secretName: external-dns-aws-credentials
victoriametrics:
  enabled: true
  vmauth:
    enabled: true
    spec:
      image:
        tag: v1.108.1
      configReloaderImageTag: "quay.io/prometheus-operator/prometheus-config-reloader:v0.68.0"
      ingress:
        annotations: {}
        class_name: nginx
        tlsHosts:
          - "vmauth.kcm0.example.net"
        tlsSecretName: vmauth-tls
      license: {}
      port: "8427"
      selectAllByDefault: true

      # Protecting from CVE-2019-11248 in VMAuth which exposes `/debug/pprof`
      # and a lot of other endpoints listed in https://docs.victoriametrics.com/#security
      extraArgs:
        envflag.enable: "true"
        envflag.prefix: "vm_"
      extraEnvs: []
    credentials:
      username_key: username
      password_key: password
      credentials_secret_name: storage-vmuser-credentials
  vmcluster:
    enabled: true
    spec:
      license: {}
      replicationFactor: 2
      retentionPeriod: "1"
      vminsert:
        extraArgs:
          maxLabelsPerTimeseries: "50"
        image:
          tag: v1.105.0-cluster
        port: "8480"
        replicaCount: 2
        podMetadata:
          labels:
            k0rdent.mirantis.com/istio-mtls-enabled: "true"
            k0rdent.mirantis.com/kof-victoria-metrics: "true"
        resources: {}
      vmselect:
        cacheMountPath: /select-cache
        extraArgs: {}
        image:
          tag: v1.105.0-cluster
        port: "8481"
        replicaCount: 2
        podMetadata:
          labels:
            k0rdent.mirantis.com/kof-victoria-metrics: "true"
        # https://docs.victoriametrics.com/operator/api/#vmselect-resources
        resources: {}
        # The vmselect component is responsible for executing queries and may use caching to improve performance.
        # The storage size defined here is used to allocate space for caching query results.
        # More details: https://docs.victoriametrics.com/cluster-victoriametrics/
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 2Gi
      vmstorage:
        image:
          tag: v1.105.0-cluster
        replicaCount: 3
        podMetadata:
          labels:
            k0rdent.mirantis.com/kof-victoria-metrics: "true"
        # https://docs.victoriametrics.com/operator/api/#vmstorage-resources
        resources: {}
        # The vmstorage component is used for the long-term storage of raw time series data.
        # The specified storage size should reflect the expected volume of data based on retention settings.
        # More details: https://docs.victoriametrics.com/cluster-victoriametrics/
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 10Gi
        storageDataPath: /vm-data
  vmalert:
    enabled: true
    # -- [VMAlertSpec](https://docs.victoriametrics.com/operator/api/#vmalertspec)
    spec:
      configMaps: []
      datasource:
        url: ""
      evaluationInterval: 15s
      externalLabels: {}
      extraArgs:
        http.pathPrefix: /
        remoteWrite.disablePathAppend: "true"
        "notifier.blackhole": "true"
      image:
        tag: v1.105.0
      configReloaderImageTag: jimmidyson/configmap-reload:v0.3.0
      license: {}
      port: "8080"
      remoteRead:
        url: ""
      remoteWrite:
        url: ""
      replicaCount: 2
      resources: {}
      selectAllByDefault: true

  vmagent:
    enabled: false
kof-dashboards:
  enabled: false
grafana:
  enabled: false
  config: {}
  version: "10.4.18-security-01"
  datasources:
    - name: metrics
      url: http://vmselect-cluster:8481/select/0/prometheus
      type: prometheus
    - name: logs
      url: http://kof-storage-victoria-logs-cluster-vlselect:9471
      type: victoriametrics-logs-datasource
    - name: traces
      url: http://kof-storage-vt-cluster-vtselect:10471/select/jaeger
      type: jaeger
  alerts:
    enabled: true
  security:
    credentials_secret_name: grafana-admin-credentials
    create_secret: false
  ingress:
    enabled: false
    host: grafana.kcm0.example.net
victoria-metrics-operator:
  enabled: true
  serviceMonitor:
    enabled: true
    vm: false
  crds:
    plain: true
    cleanup:
      enabled: false
victoria-logs-cluster:
  enabled: true
  podLabels:
    k0rdent.mirantis.com/istio-mtls-enabled: "true"
  vlinsert:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
  vlselect:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
  vlstorage:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
    service:
      enabled: true
    persistentVolume:
      enabled: true
      storageClassName: ""
victoria-traces-cluster: 
  enabled: true
  podLabels:
    k0rdent.mirantis.com/istio-mtls-enabled: "true"
  vtinsert:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
  vtselect:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
  vtstorage:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
    service:
      enabled: true
    persistentVolume:
      enabled: true
      storageClassName: ""
promxy:
  enabled: false
istio_endpoints: false
dex:
  enabled: false
  image:
    tag: v2.42.1
  config:
    issuer: dex.example.com
    storage:
      type: memory
    staticClients: {}
    connectors: {}
  customIngress:
    enabled: true
    host: dex.example.com
