global:
  clusterLabel: cluster
  clusterName: storage
  random_username_length: 8
  random_password_length: 12
  image:
    # custom image registry for victoriametrics charts
    registry: ""

  # https://kubernetes.io/docs/concepts/storage/storage-classes/#default-storageclass
  # storageClass: ebs-csi-default-sc

grafana-operator:
  image:
    # -- Custom `grafana-operator` image repository.
    repository: ghcr.io/grafana/grafana-operator

cert-manager:
  enabled: true
  cluster-issuer:
    create: true
    provider: letsencrypt
  email: mail@example.net
external-dns:
  enabled: false
  provider:
    name: aws
  env:
    - name: AWS_SHARED_CREDENTIALS_FILE
      value: /etc/aws/credentials/external-dns-aws-credentials
    - name: AWS_DEFAULT_REGION
      value: us-east-2
  extraVolumeMounts:
    - name: aws-credentials
      mountPath: /etc/aws/credentials
      readOnly: true
  extraVolumes:
    - name: aws-credentials
      secret:
        secretName: external-dns-aws-credentials
victoriametrics:
  enabled: true
  vmauth:
    enabled: true
    credentials:
      username_key: username
      password_key: password
      credentials_secret_name: storage-vmuser-credentials
    ingress:
      host: vmauth.kcm0.example.net
  vmcluster:
    enabled: true
    retentionPeriod: "1" # retention period in days
    vminsert:
      labels:
        k0rdent.mirantis.com/istio-mtls-enabled: "true"
        k0rdent.mirantis.com/kof-victoria-metrics: "true"
      resources: {}
      replicaCount: 2
    vmselect:
      labels:
        k0rdent.mirantis.com/kof-victoria-metrics: "true"
      resources: {}
      storage:
        size: 2Gi
      replicaCount: 2
    vmstorage:
      labels:
        k0rdent.mirantis.com/kof-victoria-metrics: "true"
      resources: {}
      storage:
        size: 10Gi
      replicaCount: 3
  vmalert:
    enabled: true
    resources: {}
    replicaCount: 2
  vmagent:
    enabled: false
grafana:
  enabled: true
  config: {}
  version: "10.4.18-security-01"
  datasources:
    - name: metrics
      url: http://vmselect-cluster:8481/select/0/prometheus
      type: prometheus
    - name: logs
      url: http://kof-storage-victoria-logs-cluster-vlselect:9471
      type: victoriametrics-logs-datasource
  alerts:
    enabled: true
  security:
    credentials_secret_name: grafana-admin-credentials
    create_secret: true
  ingress:
    enabled: true
    host: grafana.kcm0.example.net
victoria-metrics-operator:
  enabled: true
  serviceMonitor:
    enabled: true
    vm: false
  crds:
    plain: true
    cleanup:
      enabled: true
victoria-logs-cluster:
  enabled: true
  podLabels:
    k0rdent.mirantis.com/istio-mtls-enabled: "true"
  vlinsert:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
  vlselect:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
  vlstorage:
    podLabels:
      k0rdent.mirantis.com/kof-victoria-metrics: "true"
    vmServiceScrape:
      enabled: true
      useServiceMonitor: true
    service:
      enabled: true
    persistentVolume:
      enabled: true
      storageClassName: ""
promxy:
  enabled: false
jaeger-operator:
  enabled: true
  image:
    repository: jaegertracing/jaeger-operator
jaeger:
  enabled: true
  image:
    tag: "1.52.0"
  security:
    credentials_secret_name: jaeger-admin-credentials
    htpasswd_secret_name: jaeger-admin-htpasswd
  collector:
    replicaCount: 1
    podLabels:
      k0rdent.mirantis.com/istio-mtls-enabled: "true"
  storage:
    type: memory
    options:
      memory:
        max-traces: 100000
  ingress:
    enabled: false
    host: jaeger.example.com
istio_endpoints: false
dex:
  enabled: false
  image:
    tag: v2.42.1
  config:
    issuer: dex.example.com
    storage:
      type: memory
    staticClients: {}
    connectors: {}
  customIngress:
    enabled: true
    host: dex.example.com
