# ServiceTemplate for VMUser and Secret propagation 
{{- range $value := list "vmuser" "secret" }}
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: kof-{{ $value }}-propagation
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  resources:
    localSourceRef:
      kind: ConfigMap
      name: {{ $.Chart.Name }}-{{ $value }}-copy-template
      namespace: {{ $.Values.kcm.namespace }}
    deploymentType: Remote
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Chart.Name }}-{{ $value }}-copy-template
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  {{ $value }}.yaml: |
    {{`{{ removeField `}}"{{ $value }}"{{` "metadata.ownerReferences" }}`}}
---
{{- end }}
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: kof-cm-local-propagation
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    helm.sh/resource-policy: keep
spec:
  resources:
    localSourceRef:
      kind: ConfigMap
      name: {{ $.Chart.Name }}-local-cm-copy-template
      namespace: {{ $.Values.kcm.namespace }}
    deploymentType: Local
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $.Chart.Name }}-local-cm-copy-template
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  cm.yaml: |
    {{`{{ setField "secret" "metadata.namespace" .Cluster.metadata.namespace }}`}}
---