{{- if .Values.kcm.kof.operator.rbac.create -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "operator.fullname" . }}-kof-operator
rules:
- apiGroups: 
  - metrics.k8s.io
  resources:
  - pods
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - pods/proxy
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - patch
  - watch
- apiGroups:
{{- if .Values.grafana.enabled }}
  - grafana.integreatly.org
{{- end }}
  - kof.k0rdent.mirantis.com
  - k0rdent.mirantis.com
  - config.projectsveltos.io
  resources:
{{- if .Values.grafana.enabled }}
  - grafanadatasources
{{- end }}
  - promxyservergroups
  - clusterdeployments
  - multiclusterservices
  - statemanagementproviders
  - servicesets
  - profiles
  - credentials
  - regions
  - clustersummaries
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kof.k0rdent.mirantis.com
  resources:
  - promxyservergroups/finalizers
  verbs:
  - update
- apiGroups:
  - kof.k0rdent.mirantis.com
  - k0rdent.mirantis.com
  resources:
  - promxyservergroups/status
  - clusterdeployments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - list
  - watch
  - create
  - delete
  - deletecollection
  - patch
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  verbs:
  - get
  - list
  - watch
{{- end }}
