apiVersion: k0rdent.mirantis.com/v1beta1
kind: MultiClusterService
metadata:
  name: kof-storage-secret-propagation
spec:
  clusterSelector:
    matchLabels:
      k0rdent.mirantis.com/kof-cluster-role: child
  serviceSpec:
    services:
      - name: storage-secret-propagation
        namespace: {{ .Values.kcm.namespace }}
        template: kof-vmuser-secret-child-propagation
    templateResourceRefs:
    - identifier: secret
      resource:
        apiVersion: v1
        kind: Secret
        name: kof-vmuser-creds-{{`{{ (printf "kof-cluster-config-%s/%s" .Cluster.metadata.name .Cluster.metadata.namespace) | adler32sum }}`}}
        namespace: {{ `"{{ .Cluster.metadata.namespace }}"` }}
---
# TODO: Remove this MCS once KCM implements automatic copying of the required resources to region clusters.
apiVersion: k0rdent.mirantis.com/v1beta1
kind: MultiClusterService
metadata:
  name: kof-copy-secret-template-propagation
spec:
  clusterSelector:
    matchLabels:
      k0rdent.mirantis.com/kcm-region-cluster: "true"
  serviceSpec:
    services:
      - name: template-propagation
        namespace: {{ .Values.kcm.namespace }}
        template: kof-configmap-propagation
    templateResourceRefs:
    - identifier: ConfigMap
      resource:
        apiVersion: v1
        kind: ConfigMap
        name: {{ $.Chart.Name }}-secret-copy-template
        namespace: {{ $.Values.kcm.namespace }}
---
