apiVersion: k0rdent.mirantis.com/v1beta1
kind: MultiClusterService
metadata:
  name: kof-storage-secret-propagation
spec:
  clusterSelector:
    matchLabels:
      k0rdent.mirantis.com/kof-cluster-role: child
  serviceSpec:
    services:
      - name: storage-secret-propagation
        namespace: {{ .Values.kcm.namespace }}
        template: kof-secret-propagation
    templateResourceRefs:
    - identifier: secret
      resource:
        apiVersion: v1
        kind: Secret
        name: kof-vmuser-creds-{{`{{ (printf "kof-cluster-config-%s" .Cluster.metadata.name) | adler32sum }}`}}
        namespace: {{ .Release.Namespace }}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: MultiClusterService
metadata:
  name: kof-storage-secret-local-propagation
spec:
  clusterSelector:
    matchExpressions:
      - key: "k0rdent.mirantis.com/kof-cluster-role"
        operator: Exists
  serviceSpec:
    provider:
      selfManagement: true
    services:
      - name: storage-secret-propagation
        namespace: {{ .Values.kcm.namespace }}
        template: kof-cm-local-propagation
    templateResourceRefs:
    - identifier: secret
      resource:
        apiVersion: v1
        kind: Secret
        name: >-
          {{`{{
            $role := index .Cluster.metadata.labels "k0rdent.mirantis.com/kof-cluster-role" | default "{}"
          }}{{
            if eq $role "regional"
          }}kof-vmuser-creds-admin-{{ (printf "kof-%s" .Cluster.metadata.name) | adler32sum }}{{
            else
          }}kof-vmuser-creds-{{ (printf "kof-cluster-config-%s" .Cluster.metadata.name) | adler32sum }}{{
            end
          }}`}}
        namespace: {{ .Release.Namespace }}

