apiVersion: v2
name: kof-collectors
description: KOF Helm chart with OpenTelemetryCollectors and OpenCost
version: "1.7.0-rc1"
appVersion: "1.7.0-rc1"
dependencies:
  - name: opencost
    version: "2.4.0"
    repository: https://opencost.github.io/opencost-helm-chart
    condition: opencost.enabled
  - name: opentelemetry-kube-stack
    version: "0.5.*"
    repository: "https://open-telemetry.github.io/opentelemetry-helm-charts"
    condition: collectors.enabled
  - name: metrics-server
    version: "3.12.1"
    repository: https://kubernetes-sigs.github.io/metrics-server/
    condition: metrics-server.enabled
