{{- range $name, $value := .Values.kcm.kof.clusterProfiles }}
{{- /* Distributing secrets to clusters automatically*/}}

{{- /* Resources to create secrets in local cluster in corresponding namespace */}}
---
apiVersion: config.projectsveltos.io/v1beta1
kind: ClusterProfile
metadata:
  name: {{ $name }}
spec:
  clusterSelector:
    matchLabels: {{ $value.matchLabels | toYaml | nindent 6 }}
  templateResourceRefs:
    {{- range $value.secrets }}
    - identifier: secret-{{ . }}
      resource:
        apiVersion: v1
        kind: Secret
        name: {{ . }}
        namespace: {{ $.Release.Namespace }}
    {{- end }}
  policyRefs:
    {{- range $value.secrets }}
    - kind: ConfigMap
      deploymentType: Local
      {{/* `Local` is the management cluster with multiple tenants/namespaces, */}}
      {{/* each having `ClusterDeployments` with related `GrafanaDatasources`, */}}
      {{/* that require the secret to be in the same cluster namespace. */}}
      name: cluster-namespace-secret-template-{{ . }}
      namespace: {{ $.Release.Namespace }}
    {{- end }}
{{- range $value.secrets }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-namespace-secret-template-{{ . }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  secret.yaml: |
    {{`{{`}} setField "secret-{{ . }}" "metadata.namespace" $.Cluster.metadata.namespace {{`}}`}}
{{- end }}

{{- /* Resources to copy secrets across clusters */}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $name }}-remote-secret-templates
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  {{- range $value.secrets }}
  secret-{{ . }}.yaml: |
    {{`{{`}} setField "secret-{{ . }}" "metadata.namespace" "{{ $.Release.Namespace }}" {{`}}`}}
  {{- end }}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: {{ $name }}-remote-template
  namespace: {{ $.Values.kcm.namespace }}
spec:
  resources:
    localSourceRef:
      kind: ConfigMap
      name: {{ $name }}-remote-secret-templates
      namespace: {{ $.Values.kcm.namespace }}
    deploymentType: Remote
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: MultiClusterService
metadata:
  name: {{ $name }}
spec:
  clusterSelector:
    matchLabels: {{ $value.matchLabels | toYaml | nindent 6 }}
  serviceSpec:
    services:
    - name: remote-secrets
      template: {{ $name }}-remote-template
      namespace: {{ $.Release.Namespace }}
    templateResourceRefs:
      {{- range $value.secrets }}
      - identifier: secret-{{ . }}
        resource:
          apiVersion: v1
          kind: Secret
          name: {{ . }}
          namespace: {{ $.Release.Namespace }}
      {{- end }}
    syncMode: Continuous
---

{{- /* Resources for copy template to KCM Region clusters */}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $name }}-copy-template
  namespace: {{ $.Values.kcm.namespace }}
  annotations:
    projectsveltos.io/template: "true"
data:
  template-remote.yaml: |
    {{`{{`}} copy "template-remote" {{`}}`}}
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: ServiceTemplate
metadata:
  name: {{ $name }}-copy-template
  namespace: {{ $.Values.kcm.namespace }}
spec:
  resources:
    localSourceRef:
      kind: ConfigMap
      name: {{ $name }}-copy-template
      namespace: {{ $.Values.kcm.namespace }}
    deploymentType: Remote
---
apiVersion: k0rdent.mirantis.com/v1beta1
kind: MultiClusterService
metadata:
  name: {{ $name }}-remote-templates-copy
spec:
  clusterSelector:
    matchLabels:
      k0rdent.mirantis.com/remote: "true"
  serviceSpec:
    services:
    - name: remote-templates-copy
      template: {{ $name }}-copy-template
      namespace: {{ $.Values.kcm.namespace }}
    templateResourceRefs:
    - identifier: template-remote
      resource:
        apiVersion: v1
        kind: ConfigMap
        name: {{ $name }}-remote-secret-templates
        namespace: {{ $.Values.kcm.namespace  }}
{{- end }}