name: Test KCM Region with KOF

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - release/*
    paths:
      - "kof-operator/**"
      - "charts/**"
      - "!**.md"

jobs:
  test:
    name: Install KOF on KCM Regional Cluster
    runs-on: ${{ github.repository_owner == 'k0rdent' && 'kof' || 'ubuntu-latest' }}
    steps:
      - name: "[PR] Checkout"
        uses: actions/checkout@v5
      - name: "[PR] Shared setup"
        uses: ./.github/actions/shared-setup
      - name: "[PR] Setup Go"
        uses: actions/setup-go@v6
        with:
          go-version-file: kof-operator/go.mod
          cache-dependency-path: kof-operator/go.sum
      - name: "[Main Branch] Checkout KCM repository"
        uses: actions/checkout@v5
        with:
          repository: k0rdent/kcm
          ref: main
          path: kcm-repo
          fetch-depth: 0
      - name: "[PR] Install KOF CLI"
        run: |
          make cli-install
      - name: "[Main Branch] Install KCM CLI"
        run: |
          make -C kcm-repo cli-install
      - name: Patch Kind Config
        if: github.repository_owner == 'k0rdent'
        uses: ./.github/actions/kind-config-patch
        with:
          registry-username: ${{ secrets.REGISTRY_CI_USERNAME }}
          registry-password: ${{ secrets.REGISTRY_CI_PASSWORD }}
      - name: "[Main Branch] Create KIND kcm cluster"
        run: |
          make kcm-dev-apply KCM_REPO_PATH="kcm-repo" KIND_CONFIG_PATH="$PWD/config/kind.yaml"
          kubectl patch mgmt/kcm --type='json' -p '[{"op": "replace", "path": "/spec/providers", "value":[{"name":"projectsveltos"}]}]'
          kubectl wait --for=condition=Ready mgmt/kcm --timeout=10m
      - name: "[PR] Deploy KOF local registry container"
        run: |
          make registry-deploy
      - name: "[PR] Push KOF Helm Charts"
        run: |
          make helm-push
      - name: "[PR] Deploy KOF components on Mothership cluster"
        run: |
          make dev-operators-deploy
          make dev-ms-deploy

      - name: "[PR] Run KIND KCM Regional cluster with KOF"
        run: |
          make dev-adopted-deploy KIND_CLUSTER_NAME=regional-adopted KIND_CONFIG_PATH=$PWD/config/kind.yaml
      - name: Run KIND cloud provider
        run: docker run -d --rm --network kind -v /var/run/docker.sock:/var/run/docker.sock registry.k8s.io/cloud-provider-kind/cloud-controller-manager:v0.7.0
      - name: "[PR] Deploy KOF components on adopted Regional cluster"
        run: |
          make dev-kcm-region-deploy-adopted KCM_REGION_NAME=regional-adopted
      - name: "[PR] Run KIND kof Child cluster"
        run: |
          make dev-adopted-deploy KIND_CLUSTER_NAME=child-adopted KIND_CONFIG_PATH=$PWD/config/kind.yaml
      - name: "[PR] Configure CoreDNS hosts on Child cluster"
        run: |
          make dev-coredns
      - name: "[PR] Deploy KOF components on adopted Child cluster"
        run: |
          make dev-child-deploy-adopted

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          cache: "pip"
      - run: pip install -r scripts/requirements.txt
      - name: Waiting 10m for metrics collection
        run: sleep 10m
      - run: make dev-promxy-port-forward
      - name: Checking promxy metrics
        run: ./scripts/metrics.py
      - name: Make support-bundle
        if: ${{ failure() }}
        run: |
          make support-bundle
          make support-bundle KUBECTL_CONTEXT=kind-child-adopted
          make support-bundle KUBECTL_CONTEXT=kind-regional-adopted
      - name: Archive support-bundle
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}-support-bundles.tar.gz
          path: ./support-bundle-*.tar.gz