name: Test Management Upgrade

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - release/*
    paths:
      - "charts/**"
      - "!**.md"

jobs:
  deploy:
    name: Upgrade KOF
    runs-on: ${{ github.repository_owner == 'k0rdent' && 'kof' || 'ubuntu-latest' }}
    steps:
      - name: "[PR] Checkout"
        uses: actions/checkout@v5
      - name: "[PR] Shared setup"
        uses: ./.github/actions/shared-setup
      - id: kof_release
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: k0rdent
          repo: kof
          excludes: prerelease, draft
      - id: kcm_release
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: k0rdent
          repo: kcm
          excludes: prerelease, draft
      - name: "[Latest Release] Checkout"
        uses: actions/checkout@v4
        with:
          repository: k0rdent/kof
          ref: ${{ steps.kof_release.outputs.release }}
          fetch-depth: 0
      - name: "[Latest release] Checkout KCM repository"
        uses: actions/checkout@v4
        with:
          repository: k0rdent/kcm
          ref: ${{ steps.kcm_release.outputs.release }}
          path: kcm-repo
          fetch-depth: 0
      - name: "[Latest Release] Restore KCM CLI Cache"
        uses: actions/cache/restore@v4
        with:
          path: kcm-repo/bin
          key: kcm-cli-${{ runner.os }}-${{ steps.kcm_release.outputs.release }}
          restore-keys: |
            kcm-cli-${{ runner.os }}-
      - name: "Restore Docker Cache"
        uses: actions/cache/restore@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-docker-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-docker
      - name: "[Latest Release] KCM Go version"
        id: latest-kcm-go-version
        uses: arnested/go-version-action@v1
        with:
          working-directory: kcm-repo
      - name: "[Latest Release] Setup Go"
        uses: actions/setup-go@v6
        with:
          go-version-file: kcm-repo/go.mod
          cache-dependency-path: kcm-repo/go.sum
      - name: "[Latest Release] Install KCM CLI"
        run: |
          make -C kcm-repo cli-install
      - name: "[Latest release] Save KCM CLI Cache"
        uses: actions/cache/save@v4
        with:
          path: kcm-repo/bin
          key: kcm-cli-${{ runner.os }}-${{ steps.kcm_release.outputs.release }}-${{ github.run_id }}
      - name: Patch Kind Config
        if: github.repository_owner == 'k0rdent'
        uses: ./.github/actions/kind-config-patch
        with:
          registry-username: ${{ secrets.REGISTRY_CI_USERNAME }}
          registry-password: ${{ secrets.REGISTRY_CI_PASSWORD }}
      - name: "[Latest Release] Install KOF CLI"
        run: |
          make cli-install
      - name: "[Latest release] Create KIND kcm cluster"
        run: |
          make kcm-dev-apply KCM_REPO_PATH="kcm-repo" KIND_CONFIG_PATH="$PWD/config/kind.yaml"
          kubectl patch mgmt/kcm --type='json' -p '[{"op": "replace", "path": "/spec/providers", "value":[{"name":"projectsveltos"}]}]'
      - name: "[Latest Release] Deploy KOF local registry container"
        run: |
          make registry-deploy
      - name: "[Latest Release] Push KOF Helm Charts"
        run: |
          make helm-push
      - name: "[Latest Release] KOF Go version"
        id: latest-kof-go-version
        uses: arnested/go-version-action@v1
        with:
          working-directory: kof-operator
      - name: "[Latest Release] Setup Go"
        if: ${{ steps.latest-kcm-go-version.outputs.go-mod-version != steps.latest-kof-go-version.outputs.go-mod-version }}
        uses: actions/setup-go@v6
        with:
          go-version-file: kof-operator/go.mod
          cache-dependency-path: kof-operator/go.sum
      - name: "[Latest Release] Deploy KOF Components"
        run: |
          make dev-operators-deploy
          make dev-ms-deploy
          make dev-storage-deploy
          make dev-collectors-deploy

      - name: Fetch PR Ref and Checkout Repo
        uses: ./.github/actions/fetch-pr-ref
      - name: "[Main Branch] Checkout KCM repository"
        uses: actions/checkout@v4
        with:
          repository: k0rdent/kcm
          ref: ${{ env.KCM_NEXT_RELEASE }}
          path: kcm-repo
          fetch-depth: 0
      - name: "[Main Branch] KCM Go version"
        id: main-kcm-go-version
        uses: arnested/go-version-action@v1
        with:
          working-directory: kcm-repo
      - name: "[Main Branch] Setup Go"
        if: ${{ steps.latest-kof-go-version.outputs.go-mod-version != steps.main-kcm-go-version.outputs.go-mod-version }}
        uses: actions/setup-go@v6
        with:
          go-version-file: kcm-repo/go.mod
          cache-dependency-path: kcm-repo/go.sum
      - name: "[Main Branch] Install KCM CLI"
        run: |
          make -C kcm-repo cli-install
      - name: Upgrade KCM
        run: |
          make kcm-dev-upgrade KCM_REPO_PATH="kcm-repo"
      - name: Install KOF CLI
        run: |
          make cli-install
      - name: Push KOF Helm Charts
        run: |
          make helm-push
      - name: "[Main Branch] KOF Go version"
        id: main-kof-go-version
        uses: arnested/go-version-action@v1
        with:
          working-directory: kof-operator
      - name: "[Main Branch] Setup Go"
        if: ${{ steps.main-kcm-go-version.outputs.go-mod-version != steps.main-kof-go-version.outputs.go-mod-version }}
        uses: actions/setup-go@v6
        with:
          go-version-file: kof-operator/go.mod
          cache-dependency-path: kof-operator/go.sum
      - name: Deploy KOF Components on Mothership cluster
        run: |
          make dev-operators-deploy
          make dev-ms-deploy
          make dev-storage-deploy
          make dev-collectors-deploy
      - name: Make support-bundle
        if: ${{ failure() }}
        run: |
          make support-bundle
      - name: Archive support-bundle
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: support-bundle.tar.gz
          path: ./support-bundle-*.tar.gz
