name: kof-operator-release
on:
  push:
    tags:
      - "*"
    paths:
      - "kof-operator/**"

env:
  GO_VERSION: "1.24"
  IMAGE_REPO: "ghcr.io/k0rdent/kof/kof-operator-controller"

jobs:
  build:
    concurrency:
      group: build-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    name: Build and Unit Test
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.vars.outputs.version }}
    permissions:
      packages: write
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - name: Unit tests
        working-directory: ./kof-operator
        run: |
          make test
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build web application
        working-directory: ./kof-operator
        run: make build-web-app
        # Creates `kof-operator/webapp/collector/dist`
        # which will be embedded at `docker/build-push-action` step.
      - name: Login to GHCR
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Get outputs
        id: vars
        run: |
          GIT_VERSION=$(git describe --tags --always)
          echo "version=${GIT_VERSION}" >> $GITHUB_OUTPUT
      - name: Build and push
        uses: goreleaser/goreleaser-action@v6
        if: github.repository == 'k0rdent/kof'
        with:
          version: '~> v2'
          args: release --clean --verbose
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          IMAGE_REPO: ${{ env.IMAGE_REPO }}
          VERSION: ${{ steps.vars.outputs.version }}